@charset 'utf8';

@font-face{
  font-family:'Noto Serif Korean';
  src:url(../fonts/NotoSerifKR-ExtraLight.otf);
  font-weight:200;
}
@font-face{
  font-family:'Noto Serif Korean';
  src:url(../fonts/NotoSerifKR-Light.otf);
  font-weight:300;
}
@font-face{
  font-family:'Noto Serif Korean';
  src:url(../fonts/NotoSerifKR-Regular.otf);
  font-weight:400;
}
@font-face{
  font-family:'Noto Serif Korean';
  src:url(../fonts/NotoSerifKR-Medium.otf);
  font-weight:500;
}
@font-face{
  font-family:'Noto Serif Korean';
  src:url(../fonts/NotoSerifKR-SemiBold.otf);
  font-weight:600;
}
@font-face{
  font-family:'Noto Serif Korean';
  src:url(../fonts/NotoSerifKR-Bold.otf);
  font-weight:700;
}
@font-face{
  font-family:'Noto Serif Korean';
  src:url(../fonts/NotoSerifKR-Black.otf);
  font-weight:900;
}
