@charset 'utf8';

@font-face{
  font-family:'Noto Serif Korean';
  src:url(../fonts/NotoSerifKR-Regular.otf);
  font-weight:400;
}
@font-face{
  font-family:'Noto Serif Korean';
  src:url(../fonts/NotoSerifKR-SemiBold.otf);
  font-weight:600;
}